.lead__title {
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.04;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;

}

@media screen and (max-width: 670px) {
  .lead__title {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 321px) {
  .lead__title {
    max-width: 288px;
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 16px;
  }
}
