.footer {
  margin: 0 48px 24px;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }
}



